.mole{
    background-image: url("mole.jpeg");
    background-size: cover;

}

.background{
    background-image: url("WhackAMoleBackGround.jpg");
    background-size: cover;
}

.background-black{
    background-image: url("animatedmoleHole.png");
    background-size: cover;
}